<!DOCTYPE html>
<html lang="en-US">
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="./applyJob.js"></script>
<style>
    .bg-img {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: url(wall.jpg);
        background-size: cover;
    }

    .container--responsive {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .btn {
        border-radius: 20px;
    }

</style>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="onload();" class="bg-img">
    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background-image: linear-gradient(to right,#19c2e5, rgba(255,0,0,0)); background-color: #000000;">
        <img src="./logo.jpg" style="height: 43px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active menuCls" id="menuTabId" menuType="MENU">
                    <a class="nav-link" href="#" ng-click="switchMenu('MENU','menuTabId')">Apply</a>
                </li>
                <li class="nav-item menuCls" menuType="BILLING" id="billingTabId">
                    <a class="nav-link" href="#" ng-click="switchMenu('BILLING','billingTabId')">Status</a>
                </li>
            </ul>
            <span class="navbar-text" style="cursor: pointer;">
                <i class="fa fa-sign-out text-white" style="font-size: 20px;" ng-click="logout()">Logout</i>
            </span>
        </div>
    </nav>
    <div class="row jobTypeCls">
        <div class="col-md-6 m-3">
            <select class="form-control" id="OccupationModel" ng-model="$parent.jobTypeModel">
                <option value="">Select Job Type</option>
                <option value="{{job.jobType}}" ng-repeat="job in jobList">{{job.jobType}}</option>
            </select>
        </div>
    </div>
    <section class="m-3 jobTypeCls" ng-repeat="job in jobList" ng-show="jobTypeModel == job.jobType">
        <div class="row">
            <div class="col-sm-4 mb-3" ng-repeat="data in job.availableJob">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{data.companyName}}</h5>
                        <p class="card-text">{{data.post}}</p>
                        <p class="card-text">{{data.workExperienceExpected}}</p>
                        <button ng-click="jobDetails(data)" class="btn btn-info" data-toggle="modal"
                            data-target="#placeOrderModalId">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div id="orderDivId" style="margin: 12px 12px 0 12px;">
        <!--Apply Modal -->
        <div class="modal fade" id="placeOrderModalId">
            <div class="modal-dialog" style="max-width: 906px;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-info">
                        <h4 class="modal-title text-white">Apply</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="userNameId" placeholder="Enter Name"
                                        value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Age</label>
                                    <input type="number" class="form-control" id="ageId"
                                        placeholder="Required Loan Amount" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Working experience</label>
                                    <input type="number" class="form-control" id="workingExperienceId"
                                        placeholder="Required Loan Amount" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Contact no.</label>
                                    <input type="number" class="form-control" id="contactId"
                                        placeholder="Enter Contact no." required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="userEmailId" placeholder="Enter Email"
                                        required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Salary Expection</label>
                                    <input type="text" class="form-control" id="salaryExpectId"
                                        placeholder="Required Loan Amount" value="" required>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset" class="border btn btn-light" data-dismiss="modal">Close</button>
                        <button type="button" class="border btn btn-info" ng-click="applyLoan()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0" id="biilingId">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Working Experience </th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Salary Expection</th>
                    <th scope="col">Apply Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in viewOrderTableData">
                    <td scope="col" class="text-black">{{data.userNameId}}</td>
                    <td scope="col" class="text-black">{{data.ageId}}</td>
                    <td scope="col" class="text-black">{{data.workingExperienceId}}</td>
                    <td scope="col" class="text-black">{{data.userEmailId}}</td>
                    <td scope="col" class="text-black">{{data.contactId}}</td>
                    <td scope="col" class="text-black">{{data.salaryExpectId}}</td>
                    <td scope="col" class="text-black">{{data.applyDate}}</td>
                    <td scope="col" class="text-black" ng-show="provider != 'true'">{{data.status}}</td>
                    <td scope="col" class="text-black" ng-show="provider == 'true'">
                        <select ng-show="data.status == 'pending'" class="form-control"
                            ng-model="approvalStatus[$index]"
                            ng-change="loanApprovalStatus(data,approvalStatus[$index])">
                            <option value="Approved">Approve</option>
                            <option value="Rejected">Reject</option>
                        </select>
                        <!-- <button ng-show="data.status == 'pending'" type="button"
                            class="border btn-small btn-info rounded" ng-click="getOrderData(data)"
                            data-toggle="modal" data-target="#processToPayModalId">update</button> -->
                        <span ng-show="data.status != 'pending'">{{data.status}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>
